.aboutCard {
    padding: 10px;
    border-style: solid;
    margin: 20px;
    width: 500px;
    height: 60px;
}

.aboutTitle {
font-size: 30px;
text-align: center;

}

.educCard, .educList, .workList {
display: flex;
flex-direction: row;
margin: auto;
}

.workCard {
    margin: auto;
}



ul {
list-style: none;    
}


