@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');


/* Container for centering cards */
.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height for vertical centering */
}

.aboutCard {
    padding: 10px;
    border-style: solid;
    margin: 20px;
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content inside the card */
}

.aboutTitle {
    font-size: 30px;
    text-align: center;
    font-family: 'Konkhmer Sleokchher', sans-serif;
}

.educList, .workList {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: auto;
}


.workCard li {
    flex-grow: 1; /* Allows items to grow and occupy available space */
    text-align: center; /* Centers text inside each list item */
}

.eduCardContainer, .workCardContainer {
    justify-content: center;
    margin: 20px;   
    align-items: center;        

}




.eduCardImg, .workCardImg  {
    
    border-radius: 10px;
    display: block;
    max-width: 100%;
    height: auto;
    background-color: slategrey;
    justify-content: center;
    padding: 20px;
   
}

.eduCardInfo, .workCardInfo {
    display: block;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
   
    border-radius: 10px;
    width: 220px;
    height: 100px;
    margin-top: 10px;
    padding-top: 10px;
    background-color: rgb(18, 178, 227);
  }

.eduCardContainer:hover .eduCardInfo {
    opacity: 1;
    transform: translateY(0);
  }  

.workCardContainer:hover .workCardInfo {
    opacity: 1;
    transform: translateY(0);
  }  


.educCard li {
    flex-grow: 1; /* Allows items to grow and occupy available space */
    text-align: center; /* Centers text inside each list item */
}

/* Optional reset for lists */
ul, li {
    list-style: none;    
    justify-content: center;
    align-items: center;
}
