.contactIntro {
    width: 600px;
    height: 90px;
    border-style: solid;
    border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        padding: 15px;
    background-color: rgba(31, 83, 224, 0.89);
    color: white;
    font-size: large;

}


.contactInfo {
    flex: row;
    position: grid;
    place-items: center;
}


.contactItems {
height: 70px;
width: 550px;
padding: 10x;
margin: 10px;

padding: auto;
display: flex;
text-align: center;
align-items: center;
position: grid;
    place-items: center;
}



.contactchan {
    height: 30px;
    width: 300px ;
    padding: auto;
    padding-top: 7px;
    margin: 10px;
   
    width: 300px ;
    height: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 10px;
    position: grid;
    place-items: center;
    
}





.contactDet {
    height: 30px;
    width: 300px ;
    padding: auto;
    padding-top: 7px;

    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
    color: white;
    background-color: rgba(31, 83, 224, 0.89);
    position: grid;
    place-items: center;
    
} 



.plzImgContainer {
    opacity: 0;
    margin-bottom: -30px;
}

.contactItems:hover .contactDet {
    opacity: 1;
    transform: translateX(0);
}

.contactItems:hover ~ .plzImgContainer {
    opacity: 1;
    transition: opacity 1.8s ease;
}


.plzImg { 
margin-bottom: -25px;

}





  