

.homeWrapper {
    display: flex;
    
    width: 100%;
    height: 100%;
   

}


.meImg {
    margin-bottom: -30px;
   

}


.intro {
 width: 500px;
    border-style: solid;
 border-top-right-radius: 30px;
 border-bottom-right-radius: 30px;
 border-top-left-radius: 30px;
 padding: 20px;
 font-size: x-large;
 margin-bottom: 20px;

} 



.techs {
    width: 600px;
    height: 200px;
    border-radius: 10px;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-top: 80px;
    margin-left: 10px;
}

.tech-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Center items in the list */
    align-items: center; /* Center items vertically */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
    list-style: none; /* Remove bullet points from the list */
}

.tech-item {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid black; 
    margin: 15px; /* Space between items */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.techImg {
    border-radius: 20px;
    
}


.tech-item:hover {
    transform: rotate(15deg); /* Adjust degrees as needed */
    transition: transform 0.2s ease;
}


.quote {
    margin:10px;
    display: flex;
}

.qImg {}

.qWords {
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
}

.qImg:hover + .qWords {
    transform: translateX(0);
    opacity: 1;
}