


.classProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  
}

.projectCard {
  justify-items: center;
  padding: 10px;
  margin: 20px;
  margin-top: 20px;
}

.projNameAndTech {
  position: absolute;
  justify-items: center;
  border-style: solid;
  transform: translateY(-100%); /* Slide down from the top */
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  font-size: smaller;
  padding: 5px;
  background-color:rgba(31, 83, 224, 0.89);
  color: white;
}

.projectCard:hover .projNameAndTech {
  opacity: 1; /* Make it visible */
  transform: translateY(0); 
  height: 40px;
  width: 310px;
}
  
  

.techUsed {
display: flex;
justify-content: center; 
list-style: none;
margin-top: 2px;
padding: 1px;
width: 320px;
}




.projImg {
  border-radius: 10px;
  
  
}

.projInfo {
  position: relative;
  bottom: 100px;
  left: 0;
  width: 300px;
  height: 100px;
  border-style: solid;
  text-align: center;
  opacity: 0;
  font-size: smaller;
 height: 55px;
 width: 310px;
 padding: 5px;
 background-color:rgba(31, 83, 224, 0.89);
 color: white;
 
  top: auto;
  transform: translateY(100%); /* Slide down from the top */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  
}

.projectCard:hover .projInfo {
  opacity: 1; /* Make it visible */
  transform: translateY(-100%); /* Move to its original position */
  bottom: 0; /* Position it at the bottom of the container */
}