
@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');





 /************************************************************************* Desktop (1200px and up) */
 @media (min-width: 1200px) {
    .navList {
        display: flex;
        color: white;
        display: none;
        }   


        .headerStyle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80px;
            background-color: rgb(3, 3, 3);
        }
        
        
        .navList {
        display: flex;
        color: white;
        }   
        
        .logo {
            margin: 30px;
            color: white;
        }
        
        
        
        .headerMenu {
            display: flex;
            list-style: none;
            
        }
        
        .menuItem {
        margin: 30px
        }
        
        
            .navList a {
                font-family: 'Konkhmer Sleokchher', sans-serif;
                color: white;
                
            }
        
        
            .navList a {
                font-family: 'Konkhmer Sleokchher', sans-serif;
                color: white;
                text-decoration: none;
              }
              
              .navList a.active {
                color: rgba(13, 55, 172, 0.822); /* Blue color for the active link */
                padding: 10px;
                background-color: white;
                border-radius: 50px;
                border-color: whitesmoke;
              }
              
              .hamburger {
                display: none;
              }


              .navs {
                display: flex;
            flex-direction: column;  }



            .menuItemModal {
                color: white;
            }
           
  }
  
  /************************************************************************** Tablet (768px to 1199px) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .navList {
        display: flex;
        color: white;
        display: none;
        }   


        .headerStyle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgb(3, 3, 3);
        }
        
        
        .navList {
        display: flex;
        color: white;
        }   
        
        .logo {
            margin: 30px;
            color: white;
        }
        
        
        
        .headerMenu {
            display: flex;
            list-style: none;
            
        }
        
        .menuItem {
        margin: 30px
        }
        
        
            .navList a {
                font-family: 'Konkhmer Sleokchher', sans-serif;
                color: white;
                
            }
        
        
            .navList a {
                font-family: 'Konkhmer Sleokchher', sans-serif;
                color: white;
                text-decoration: none;
              }
              
              .navList a.active {
                color: rgba(13, 55, 172, 0.822); /* Blue color for the active link */
                padding: 10px;
                background-color: white;
                border-radius: 50px;
                border-color: whitesmoke;
              }
              

    .hamburger {
                display: none;
              }
  
  }
  
  /************************************************************************** Mobile (up to 767px) */
  @media (max-width: 767px) {
    .headerStyle {
      display: flex;
      
      width: 100%;
      height: 60px;
      background-color: rgb(3, 3, 3);
      overflow-x: hidden;
      position: fixed;  /* Ensures relative positioning for absolute positioning of the menu */
    }
  
    .navList {
      display: relative;
      flex-direction: column;
      position: fixed;
      top:33px; /* Position the menu directly below the header */
      right: 60px;
      width: 20%;
      background-color: rgba(132, 122, 151, 0.5);
      color: white;
      transform: translateX(200%);  /* Initially hide the menu above the header */
      transition: transform 0.3s ease-in-out;  /* Smooth sliding effect */
      z-index: 10;  /* Ensure the menu appears above the header */
    }
  
  /* When the menu is open, slide it into view below the header */
  .headerMenu.is-Open .navList {
    transform: translateX(0); /* Move the menu down into view */
  }

    .logo {
      margin-right: 140px;
      margin-bottom: 30px;
      color: white;
      display: fixed;
    }
  
    .hamburgerImg {
      margin-right: 8px;
      margin-left: 10px;
      width: 30px;
      height: 30px;
      border-radius: 10px;
    }
  
    .headerMenu {
      display: absolute;
      position: relative; /* This keeps the menu container inside the header */
      margin-right: 50px;
      
    }
  
    /* When the menu is open, slide it into view below the header */
    .headerMenu.is-Open .navList {
      transform: translateY(0); /* Move the menu down into view */
    }
  
    .navList a {
      font-family: 'Konkhmer Sleokchher', sans-serif;
      color: red;
      text-decoration: none;
      border-style: solid;
    }
  
    .navs {
      display: flex;
      flex-direction: column;
    }
  }
  