.entirePage {
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    
}    
 

.headerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: skyblue;
    padding: 10px; 

.logo {
    margin: 30px;
}

}

.headerMenu {
    display: flex;
    list-style: none;
}

.menuItem {
margin: 30px
}

.contentStyle {
    width: 100%;
    max-width: 1200px; 
    padding: 20px; 
    flex-grow: 1; /* Ensures the content area takes up the remaining space */
    padding-left: 10%;
  }